DB1_JDBC_URL=jdbc:oracle:thin:user/password@localhost:11521/XEPDB1
DB2_JDBC_URL=jdbc:oracle:thin:user/password@localhost:11521/XEPDB1
DB3_JDBC_URL=jdbc:oracle:thin:user/password@localhost:11521/XEPDB1
